.app {
  background-color: aliceblue;
}

h1 {
  line-height: 33px;
  background-color: ghostwhite;
  border: 1px grey solid;
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}
h2 {
  line-height: 33px;
  background-color: ghostwhite;
  border: 1px grey solid;
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}
